In [4]:
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import pandas as pd

from sklearn import tree

In [8]:
ds = pd.read_csv('run-or-walk/dataset.csv')
data = ds.values
ds.head(n=10)

,date,time,username,activity,acceleration_x,acceleration_y,acceleration_z,gyro_x,gyro_y,gyro_z
0,2017-6-30,13:51:15:847724020,viktor,0,0.2650,-0.7814,-0.0076,-0.0590,0.0325,-2.9296
1,2017-6-30,13:51:16:246945023,viktor,0,0.6722,-1.1233,-0.2344,-0.1757,0.0208,0.1269
2,2017-6-30,13:51:16:446233987,viktor,0,0.4399,-1.4817,0.0722,-0.9105,0.1063,-2.4367
3,2017-6-30,13:51:16:646117985,viktor,0,0.3031,-0.8125,0.0888,0.1199,-0.4099,-2.9336
4,2017-6-30,13:51:16:846738994,viktor,0,0.4814,-0.9312,0.0359,0.0527,0.4379,2.4922
5,2017-6-30,13:51:17:46806991,viktor,0,0.4044,-0.8056,-0.0956,0.6925,-0.2179,2.5750
6,2017-6-30,13:51:17:246767997,viktor,0,0.6320,-1.1290,-0.2982,0.0548,-0.1896,0.4473
7,2017-6-30,13:51:17:446569025,viktor,0,0.6670,-1.3503,-0.0880,-0.8094,-0.7938,-1.4348
8,2017-6-30,13:51:17:646152973,viktor,0,0.2704,-0.8633,0.1293,-0.4173,-0.1904,-2.6759
9,2017-6-30,13:51:17:846502006,viktor,0,0.4690,-1.0740,0.0219,0.0388,1.1491,1.6982

In [13]:
data.shape

data_split = int(0.7 * data.shape[0])
data_test = int(0.9* data.shape[0])

x_train = data[:data_split, 4:]
x_val = data[data_split:data_test, 4:]
x_test = data[data_test:, 4:]

y_train = data[:data_split, 3]
y_val = data[data_split:data_test, 3]
y_test = data[data_test:, 3]

33998